/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 6, 2025, 6:10:44 PM
    Author     : nhtuy
*/
body {
  font-family: Arial, sans-serif;
  background-color: #b8e0ec;
  margin: 0;
  text-align: center; 
  padding-top: 100px;
}

.box {
    background: #fff;
    padding: 30px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 12px #aaa;
}

a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #b30000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}