body { 
    font-family: Arial; 
    background-color: #fff4f4; 
    text-align: center; 
    padding-top: 100px; 
}

.box {
    background: #fff;
    padding: 30px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 12px #aaa;
}

h2 { 
    color: #d9534f; 
}

a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #b30000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover { 
    background: #800000; 
}

