body {
    font-family: Arial;
    background-color: #f7f7f7;
    margin: 0;
}

.header {
    background: #b30000;
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin-top: 0;
}

.side-img {
    width: 35%;
    height: calc(100vh - 80px);
    object-fit: cover;
}

.container {
    width: 400px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 12px #999;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background: #28a745;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background: #218838;
}

.box {
    background: #fff;
    padding: 30px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 12px #aaa;
}

a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #b30000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background: #800000;
}

h2 {
    color: #28a745;
}