body {
    font-family: Arial;
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 350px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 12px #999;
}

h2 {
    text-align: center;
    color: #b30000;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background: #b30000;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

button:hover { 
    background: #800000; 
}

.back {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #555;
}

.back:hover { 
    color: #000; 
}

